h1, h2, h3, h4 {
    margin: 0;
}
a {
    cursor: pointer;
}

.article {
    display: flex;
    margin: 30px 0;
}

.article-link {
    flex-grow: 10;
    height: 100%;
    align-self: center;
}

.article-ex {
    font-size: 0.1rem;
    flex-grow: 1;
}
